# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# OS files
.DS_Store

# IDEs
.vscode/
.idea/

# Database and Data
data/
backups/
logs/
dumpedDB/
debug_log.txt
frontend/node_modules/
**/._*
